body {
  margin: 0;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h1 {
  margin: 50px auto 0 auto;
}

h2 {
  font-size: 2.5rem;
}

.top-container {
  background-color: white;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 100px;
}

.bottom-container {
}

.profile {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}
.ter {
  width: 20%;
  height: 20%;
}

.intr {
  font-family: "sacremento", cursive;
  font-size: 5.625rem;
}

.pic {
  height: 400px;
}
.cloud {
  position: absolute;
  left: 5%;
  top: 45%;
  height: 25%;
  width: 25%;
  margin-bottom: 40px;
}
.cloud1 {
  position: absolute;
  right: 10%;
  top: 50%;
  height: 25%;
  width: 25%;
}
